*{
    padding: 0;
    margin:0;
}

body{
    background-color: #4d8baf;
    display: flexbox;
    justify-content: center;
    align-items: center;    
}

.box{
    width: 400px;
    height: 25px;
    display: flex;
    cursor: pointer;
    margin-left:250px ;
    padding: 10px 20px;
    background: #fff;
    border-radius: 30px;
    align-items: center;
    box-shadow: 0 10px 25px rgb(0, 0, 0, 0.3);
}

.box:hover input{
    width: 400px;
}

.box input{
    width: 0px;
    outline: none;
    border:none;
    font-weight: 500;
    transition: 0.8s;
    background: transparent;
}

.box a .fas{
    color:#1daf;
    font-size: 18px;
}

.sidebar{
    position:fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 196px;
    background-color: rgb(255, 255, 255);
    padding: 24px;
}

.sidebar .logo img{
    width: 150px;
}
.sidebar .navigation ul{
    list-style: none;
    margin-top: 20px;
}
.sidebar .navigation ul li{
    padding: 10px 0px;
}
.sidebar .navigation ul li a {
   color: #000000;
   text-decoration: none;
   font-size: 15px;
}

.sidebar .navigation ul li a:hover,
.sidebar .navigation ul li a:active,
.sidebar .navigation ul li a:focus{
    color:#46ccd6;
}

.sidebar .navigation ul li a:hover .fa,
.sidebar .navigation ul li a:active .fa,
.sidebar .navigation ul li a:focus .fa{
    color:#b3b3b3;
}
.sidebar .navigation ul li .fa{
    font-size: 15px;
    margin-right: 10px;
}
.sidebar .navigation ul li a:hover .fa:hover,
.sidebar .navigation ul li a:active .fa:active,
.sidebar .navigation ul li a:focus .fa:focus{
    color:#fff;
}