.support {
  margin: 17px 35.3px 7px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'JejuGothic';
  font-weight: 400;
  font-size: 24px;
  color: #000000;
}
.download {
  margin: 17px 46.7px 7px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'JejuGothic';
  font-weight: 400;
  font-size: 24px;
  color: #000000;
}
.ellipse-1 {
  background: url('../assets/images/ellipse_1.jpeg') 50% / cover no-repeat;
  width: 47px;
  height: 50px;
  border: 1px solid black;
  border-radius: 100%;
}
.container-1 {
  margin-bottom: 7.4px;
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  width: fit-content;
  box-sizing: border-box;
}
.vector {
  margin-bottom: 36.4px;
  align-self: flex-start;
  width: 61.3px;
  height: 42.1px;
}
.manage {
  margin-bottom: 42px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'JejuGothic';
  font-weight: 400;
  font-size: 48px;
  color: #000000;
}
.fremovebg-preview-2 {
  background: url('../assets/images/fremovebg_preview_2.png') 50% / cover no-repeat;
  margin-right: 34px;
  width: 53px;
  height: 56.2px;
}
.managing-your-plan {
  margin: 17px 0 4.2px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'JejuGothic';
  font-weight: 400;
  font-size: 32px;
  color: #000000;
}
.container-2 {
  margin-bottom: 53.2px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
}
.edit-your-profile {
  margin-left: 22.7px;
  align-self: center;
  overflow-wrap: break-word;
  font-family: 'JejuGothic';
  font-weight: 400;
  font-size: 32px;
  color: #000000;
}
.container-3 {
  border-radius: 20px;
  background: rgba(202, 223, 255, 0.34);
  position: relative;
  margin: 0 71.3px 67.6px 0;
  display: flex;
  flex-direction: column;
  padding: 39px 0 124.4px 24px;
  width: 80%;
}
.security-and-privacy {
  margin-bottom: 145px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'JejuGothic';
  font-weight: 400;
  font-size: 48px;
  color: #000000;
}
.account-password {
  margin-left: 39.1px;
  align-self: center;
  overflow-wrap: break-word;
  font-family: 'JejuGothic';
  font-weight: 400;
  font-size: 32px;
  color: #000000;
}
.container {
  border-radius: 20px;
  background: rgba(202, 223, 255, 0.34);
  position: relative;
  margin-right: 71.3px;
  display: flex;
  flex-direction: column;
  padding: 24.6px 0 340.3px 24px;
  width: 80%;
}
.managing{
  background: linear-gradient(90deg, #FFFFFF, #4584E1);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 23px 38px 474.7px 108.3px;
  width: 1440px;
}
